
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<link rel="stylesheet" href="https://www.polonel.com/dist/snackbar.min.css" />
<script src="https://www.polonel.com/snackbar/src/jquery-2.2.0.min.js"></script>
<script src="https://www.polonel.com/dist/snackbar.min.js"></script>


{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
        <script>
            Snackbar.show({text: '{{message}}', pos: 'top-right', duration: 5000, backgroundColor: '#f70000'});
        </script>
        {% else %}
        <script>
            Snackbar.show({text: '{{message}}', pos: 'top-right', duration: 5000, backgroundColor: '#2cf27e'});
        </script>
        {% endif %}
    {% endfor %}
{% endif %}
